doctype html
html
  head
    title Maquetar :)
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', type='image/x-icon', href='http://www.startupbuenosaires.com/wp-content/uploads/2015/05/3TZ23CW3.png')
    script(src='https://code.jquery.com/jquery-1.10.2.js')
  body
    block content
